/****** General ***********/
* {
  
font-family: 'Raleway', sans-serif;
   
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
width: 100%;
opacity: 1;
min-height: 100vh;
margin: 0;
height:4058.018798828125px;
}

.container{
min-width: 320px;
max-width: 1440px;
width: 100%;
box-sizing: border-box;
padding:0;
margin:0;

}

header {
width: 100%;
opacity: 1;
display: flex;
flex-direction: column;
 align-items: center;
 margin-top: -10px;
}

.logo-container {
opacity: 1;
gap: 10px;
padding: 30px;
display:flex ;
flex-direction: column;
}
 .logo {
width: 61px;
height: 19px;

 }

nav {
width: 375px;
height: 36px;
gap: 15px;
display:flex;
flex-direction: column;
margin-top: -10px;
 }

 .menu-nav-links {
width: 375px;
height: 19px;
flex-direction: row;
display: flex;
list-style: none;
padding-left: unset;
 }

 .nav-link {
font-weight: bold;
color:#000000;
width: 187.5px;
height: 19px;
opacity: 1;
left: 187.5px;
font-family: Raleway;
font-size: 16px;
line-height: 100%;
text-align: center;
display: flex;
justify-content: space-around;
 }

 .nav-link-active{
 width: 187.5px;
height: 19px;
color:#0065FC;
 }

.bar-left {
width: 187.5px;
height: 10px;
 }

.bg-bar , .blue-bar{
width: 187.5px;
height: 2px;
}

.bg-bar{
 background-color: #F2F2F2
}

 .blue-bar {
background-color: #0065FC;
height: 2px;
width: 187.5px;
 }

main{
display: flex;
flex-direction:column;   
width: 375px;
height: 100%;
opacity: 1;
gap: 30px;
 }

 .recherche{
width: 345px;
opacity: 1;
gap: 35px;
padding-right: 20px;
display: flex;
flex-direction: column;
padding-right: 20px;
padding-left: 20px;
 }

 
.titres {
  width: 335px;
  height: 79px;
  opacity: 1;
  gap: 8px;
  display: flex;
  flex-direction: column;
 margin-top: 40px;

}

h1 {
  width: 100%;
  height: 52px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  color: #000000;
  margin-top: 0
}


p {
 width: 100%;
 height: 19px;
opacity: 1;
font-family: Raleway;
font-weight: 400;
font-size: 16px;
line-height: 100%;
margin-top: -5px;
color:#000000
}



.bar-recherche{
 display: flex;
width: 335px;
height: 49px;
opacity: 1;
border-radius: 15px;
border-width: 1px;
color: #F2F2F2;
border: 1px solid #F2F2F2
}

.bar-de-recherche{
  display: none;
}



.fa-solid.fa-location-dot{
width: 50px;
height: 49px;
opacity: 1;
border-width: 1px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border: 1px solid #F2F2F2;
background-color: #F2F2F2;
display: flex;
align-items: center;
justify-content: space-around;

}

.fa-location-dot::before{
 width: 14px;
height: 18px;
opacity: 1;
top: 15px;
left: 18px;
color:#000000
}

.recherche-input{
width: 147px;
height: 21px;
opacity: 1;
margin-top: 14px;
padding-left: 20px;
font-family: Raleway;
font-weight: 700;
font-size: 18px;
line-height: 100%;
text-align: center;
color: #000000;
border: none;
}

.btn-recherche{
flex-direction: column;
display: flex;
width: 54px;
height: 54px;
opacity: 1;
gap: 10px;
padding-top: 15px;
padding-right: 16px;
padding-bottom: 15px;
padding-left: 16px;
border-radius: 15px;
border-width: 1px;
margin-left: auto;
position: relative;
top: -3px;
box-shadow: 0px 4px 4px 0px #00000040;
background: #0065FC
}

.fa-solid.fa-magnifying-glass {
font-size: large;
}

.btn-recherche:active{
border: 1px solid #0065FC;
}

.fa-solid.fa-magnifying-glass {
  color: white
}

.bouton-de-recherche {
display: none;
}


.filtres{
width: 335px;
opacity: 1;
gap: 20px;
display: flex;
flex-direction: column;
}


.h2-filtres{
width: 54px;
height: 21px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 18px;
line-height: 100%;
text-align: center;
margin-top: unset;
color: #000000;

}

.filtres-container{
width: 335px;
height: 50px;
opacity: 1;
gap: 10px;
flex-direction: column;
display: flex;
flex-wrap: wrap;
margin-top: -15px;
}


.button-filtres1
{
width: 162.5px;
height: 50px;
opacity: 1;
gap: 10px;
padding-top: 4px;
padding-right: 19px;
padding-bottom: 4px;
padding-left: 19px;
border-radius: 25px;
border-width: 2px;
display: flex;
align-items: center;
font-weight: bold;
background-color: white;
border: 2px solid #D9D9D9
}

.button-filtres1:hover {
  background-color: #deebff;
  cursor: pointer;
}

.button-filtres2
{
width: 162.5px;
height: 50px;
opacity: 1;
gap: 10px;
padding-top: 4px;
padding-right: 19px;
padding-bottom: 4px;
padding-left: 19px;
border-radius: 25px;
border-width: 2px;
display: flex;
align-items: center;
font-weight: bold;
background-color: white;
border: 2px solid #D9D9D9
}

.button-filtres2:hover {
  background-color: #deebff;
  cursor: pointer;
}

.button-filtres3:hover {
  background-color: #deebff;
  cursor: pointer;
}


.button-filtres3
{
width: 162.5px;
height: 50px;
opacity: 1;
gap: 10px;
padding-top: 4px;
padding-right: 19px;
padding-bottom: 4px;
padding-left: 19px;
border-radius: 25px;
border-width: 2px;
display: flex;
align-items: center;
font-weight: bold;
background-color: white;
border: 2px solid #D9D9D9
}

.button-filtres4:hover {
  background-color: #deebff;
  cursor: pointer;
}

.button-filtres4
{
width: 162.5px;
height: 50px;
opacity: 1;
gap: 10px;
padding-top: 4px;
padding-right: 19px;
padding-bottom: 4px;
padding-left: 19px;
border-radius: 25px;
border-width: 2px;
display: flex;
align-items: center;
font-weight: bold;
background-color: white;
border: 2px solid #D9D9D9
}


.Economique{
height: 16px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 14px;
line-height: 100%;
color: #000000;
}

.fa-solid.fa-money-bill-wave{
color: #0065FC;
width: 22px;
height: 22px;
opacity: 1;
font-size: initial;
}

.Famillial{
height: 16px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 14px;
line-height: 100%;
color: #000000;
}

.fa-solid.fa-person {
width: 22px;
height: 22px;
 opacity: 1;
font-size: large;
}

.filtres2{
display: flex;
flex-direction: column;
width: 335px;
height: 50px;
opacity: 1;
gap: 10px;
flex-wrap: wrap;
}



.Romantique{
width: 85px;
height: 16px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 14px;
line-height: 100%;
color: #000000;
}



.fa-solid.fa-heart {
  width: 22px;
  height: 22px;
  opacity: 1;
  font-size: large;
}

.Nos-pepites{
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 14px;
line-height: 100%;
color: #000000;
}

.fa-solid.fa-fire {
  width: 22px;
  height: 22px;
  opacity: 1;
  font-size: large;
  align-items: initial
}  


.info-resultats{
width: 335px;
opacity: 1;
gap: 10px;
display: flex;
margin-top: revert;
align-items: center;

}



.fa.solid.fa-info{
width: 28px;
height: 24px;
opacity: 1;
border-width: 1px;
align-items: center;
font-size: x-small;
border-radius: 50%;
justify-content: center;
display: flex;
color: #0065FC;
border: 1px solid #D9D9D9
}

.fa-info::before {
width: 4px;
height: 10px;
opacity: 1;
top: 14px;
left: 10px;
color:#0065FC ;
}

.info-resultats p {
width: 301px;
height: 38px;
opacity: 1;
font-family: Raleway;
font-weight: 400;
font-size: 16px;
line-height: 100%;
color:#000000 ;
}


a {
    color: inherit;
    text-decoration: none;
}*

.populaires{
width: 375px;
opacity: 1;
padding-right: 20px;
display: flex;
flex-direction: column;
gap:41px
}

.populaires-hebergements{
width: 375px;
height: 520px;
opacity: 1;
gap: 15px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 21px;
flex-direction: column;
display: flex;
background: #F2F2F2;
}

.populaires-cards{
display: flex;
 gap: inherit;
 flex-direction: column;
 width:335px;
margin-left: -7px;
}

.fa-xs.fa-solid.fa-star.neutral-star {
  color: #F2F2F2;
}



.populaires-title {
width: 335px;
height: 26px;
opacity: 1;
display: flex;
}




.section-title {
display: flex;
justify-content: space-between;
width: 301px;
height: 26px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 22px;
line-height: 100%;
margin-left: -2px;
margin-top: initial;
color:#000000
}

.fa-solid.fa-chart-line {
width: 18px;
height: 15.75px;
opacity: 1;
top: 4px;
position: relative;
margin-left: 20px;
}

.fa-chart-line::before{
width: 18px;
height: 15.75px;
opacity: 1;
color: #0065FC;

}

.card{
width: 347px;
height: 146px;
opacity: 1;
border-radius: 20px;
 position: relative;
background: #FFFFFF; 
box-shadow: 0px 3px 15px 0px #0000001A;
display: flex;
}

.euro {
font-weight:bold;
}

.imgnospepites{
width: 111.66666412353516px;
opacity: 1;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-width: 5px;
border-bottom-width: 5px;
border-left-width: 5px;
border-style: solid;
border-color: #FFFFFF;

}

.card-content{
height: 136px;
opacity: 1;
gap: 24px;
top: 5px;
left: 111.67px;
padding-top: 10px;
padding-bottom: 5px;
padding-left: 15px;
flex-direction: column;
display: flex;
}

.card-txt{
width: 203.3333282470703px;
height: 85px;
opacity: 1;
flex-direction: column;
display: flex;

}

.card-title{
width: 203.3333282470703px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 16px;
line-height: 100%;
color: #000000;
}

.card-subtitle{
 width: 203.3333282470703px;
height: 16px;
opacity: 1;
font-family: Raleway;
font-weight: 400;
font-size: 14px;
line-height: 100%;
color:#000000
}


.sr-only{
font-family: Raleway;
font-weight: 400;
font-size: 14px;
line-height: 100%;
color: #000000;
}

.card-rating {
height: 12px;
opacity: 1;
}

.Hébergements{
width: 375px;
height: 1435.5px;
opacity: 1;
flex-direction: column;
display: flex;
margin-top: 20px;
margin-left:15px;
gap:5px

}


h2.section-title-1{
width: 335px;
height: 26px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 22px;
line-height: 100%;
margin-left: -22px;
padding-left: 24px;
color: #000000;
}

.HébergementsMarseille{
opacity: 1;
gap: 23px;
display: flex;
width: 335px;
height: 1435px;
flex-direction: column;
}

.hotel{
opacity: 1;
 gap: 23px;
display: flex;
width: 335px;
 height: 1435px;
flex-direction: column;
}

.grille{
opacity: 1;
gap: 23px;
display: flex;
width: 335px;
height: 1435px;
flex-direction: column;
}


.afficher-plus{
  width: 335px;
  height: 21px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #000;
  gap: 15px;
  display: flex;
}



.card-Hebergements{
opacity: 1;
gap: 4px;
padding-bottom: 15px;
border-radius: 20px;
flex-direction: column;
display: flex;
background: #FFFFFF;
box-shadow: 0px 3px 15px 0px #0000001A;
height: 195px;
width: 345px;
}


.img-hebergement{
height: 124px;
width: 335px;
opacity: 1;
border-width: 5px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
display: flex;
border: 5px solid #FFFFFF
}

.cardhebergements-content{
width: 335px;
opacity: 1;
gap: 8px;
padding-right: 15px;
padding-left: 15px;
height: 54.25px;
position: relative;
top: -20px;
}


.cardhebergements-txt{
width: 335px;
height: 64.25px;
opacity: 1;
gap: 8px;
}

.cardhebergements-title {
  width: 305px;
  height: 19px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.cardhebergements-rating {
margin-top: -15px;
height: 13.25px;
opacity: 1;
}

.cardhebergments-title{
padding-right: 15px;
padding-left: 15px;
font-family: Raleway;
font-weight: 700;
font-size: 16px;
line-height: 100%;
color:#000000
}

.cardhebergements-subtitle{
width: 305px;
height: 16px;
opacity: 1;
font-family: Raleway;
font-weight: 400;
font-size: 14px;
line-height: 100%;
}


.hebergementseuro{
font-family: Raleway;
font-weight: 400;
font-size: 14px;
line-height: 100%;
font-weight:bold;
}

.Activites{
width: 375px;
height: 965.0187377929688px;
opacity: 1;
flex-direction: column;
display: flex;
margin-top: 60px;
gap: 15px;
margin-left: 15px;
display: flex;
}

.titre-Activites {
padding-left: 20px;
width: 315px;
height: 30.018735885620117px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 22px;
line-height: 100%;
text-align: initial;
margin-left: -20px;
color: #000000;

}

.blokActivites{
width: 315px;
height: 30.018735885620117px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 22px;
line-height: 100%;
color:#000000
}

.Activites-cards{
width: 315px;
height: 845px;
opacity: 1;
gap: 15px;
flex-direction: column;
display: flex;
}

.meilleursactivites{
flex-direction: column;
width: 345px;
opacity: 1;
border-radius: 20px;
box-shadow: 0px 3px 15px 0px #0000001A;
display: flex;
}


.img-activites{
width: 345px;
height: 141px;
opacity: 1;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}


.activites-text{
width: 315px;
height:15px;
opacity: 1;
gap: 10px;
padding-top: 20px;
padding-right: 19px;
padding-bottom: 20px;
padding-left: 19px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
flex-direction:column;
display: flex;
background: #FFFFFF;
}


.card-activitestitle{
width: 277px;
height: 19px;
opacity: 1;
font-family: Raleway;
font-weight: 700;
font-size: 16px;
line-height: 100%;
position: relative;
top: -15px;
color: #000000;
}

.footer-container{
  height: 409px;
  opacity: 1;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 40px;
  width: 375px;
  margin: 0px;
}

.footer-titre1 {
  width: 263.6666564941406px;
  height: 123px;
  opacity: 1;

}

.a-propos {
  width: 104.65119934082031px;
  height: 21px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #000;
}

.\31  {
  list-style: none;
  padding: initial;
  display: grid;
  gap:15px;
}

.fonction {
  width: 239.2027587890625px;
  height: 19px;
   opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}

.Conditions {
  width: 213.37973022460938px;
  height: 19px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.Données {
  width: 263.6666564941406px;
  height: 19px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}



.footer-titre2{
width: 263.6666564941406px;
height: 89px;
opacity: 1;
}

.Nos-hebergements {
  width: 263.6666564941406px;
  height: 21px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}


.\32 {
  list-style: none;
  padding: initial;
  display: grid;
  gap: 15px;
}

.Charte {
  width: 166.1898956298828px;
  height: 19px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.Soumetre-votre-hôtel {
  width: 239.69696044921875px;
  height: 19px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.footer-titre3{
width: 263.6666564941406px;
height: 89px;
opacity: 1;
}

.Assistance {
  width: 215.09646606445312px;
  height: 21px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.\33 {
list-style: none;
padding: initial;
gap: 15px;
display: grid;
}

.Centre-aide {
  width: 226.6608123779297px;
  height: 19px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.Nous-contactez {
  width: 263.6666564941406px;
  height: 19px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* ============================= */
/* ============================= */
/* TABLETTE */
/* ============================= */

@media  screen and (min-width:376px) and (max-width:767px)  {
 body{
  width: 100%;
 }
  
.container {
  width: 100%;
  padding: 0 20px;
  }

main {
  width: 100%;  
 }


.recherche {
  padding-left:1px;
  width: 100%
}
.bar-recherche{
  width: 98%;
}

.filtres {
  width: 100%;
}

.button-filtres1 {
  width: 40%;
}

.button-filtres2 {
  width: 40%;
}

.button-filtres3 {
  width: 40%;
}

.button-filtres4 {
  width: 40%;
}



.filtres-container{
width: 100%;
}

.filtres2 {
  width: 100%;
}

.titres {
  width: 100%
}

 .info-resultats{
  width: 100%;
 } 
.populaires{
  width: 100%;
}

.populaires-title {
  width: 95%;
}

.section-title {
  width: 100%;
}

 .populaires-hebergements {
  width: 96%;
 }

 .populaires-cards{
  width: 98%;
 }

 .card{
  width: 100%;
 }

.imgnospepites {
  width: 100%;
}

.Hébergements {
  width: 100%;
}

.HébergementsMarseille{
width: 100%;
}

.hotel{
width: 100%;
}

.card-Hebergements{
width: 96%;
}

.img-hebergement{
 width:98%;
}

.grille{
  width: 100%;
}

.Activites{
  width: 100%;
}

.Activites-cards {
  width: 100%;
}

.meilleursactivites{
  width: 96%
}

.img-activites {
  width: 100%;
}


.footer-container {
    width: 100%;
}
  
.footer-titre1{
  width: 100%;
}


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
 
body {
  width: 100%;
  height:2003px;
  display: flex;
  
  }


.container{
  width: 100%;
  height: auto;
  gap: 30px;
}

header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 79px;
  }


    
.logo-container{
  width: 161.08966064453125px;
  opacity: 1;
  gap: 10px;
  padding:17px
  }

.menu-nav-links{
 padding-right: 95px;
}

.bar-recherche {
  width: 396px;
  height: 49px;
  opacity: 1;
  gap: 24px;
  position: relative;
  top: -15px;
  border-width: 1px;
  border-radius: 15px
}

.btn-recherche {
  width: 132px;
  height: 49px;
  opacity: 1;
  gap: 10px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 0 15px 15px 0;
  top: 0;
  border: 0;
  box-shadow: none;
}

.bar-de-recherche{
  width: 100px;
  height: 21px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  display: flex;
  color: #FFF;
}

.fa-solid.fa-location-dot {
  font-size: larger;
}


.bouton-de-recherche {
  display: inline;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: white;
}


.fa-solid.fa-magnifying-glass {
  display: none;
}


main{
  width: 100%;
  height: 1893.52px;
  opacity: 1;
  gap: 15px;   
}   

.contenu {
  width: 93%;
}

nav{
  height: 80px;
  display: flex;
}
      
.recherche {
  gap:54px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:18px;
  height:322px
}


.titres {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  height: 53px;
  margin:0;
}

.fa-solid.fa-location-dot {
  width: 50px;
}

.section-recherche {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.recherche_input {
  flex: 1;
  max-width: 300px;
}

.filtres {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width: 668px;
  align-items: flex-end;
  height: 91px;
  position: relative;
  top: 15px;
}

.h2-filtres{
  margin-top: -27px;
  position: relative;
  top: -62px;
}
 
.filtres-container{
  gap: 15px;
  margin-left: -76px;
  margin-right: -25px;
}


.button-filtres1{
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.button-filtres2 {
  width: 131px;
  height: 50px;
  opacity: 1;
  left: 182px;
  gap: 10px;
  padding-top: 4px;
  padding-right: 19px;
  padding-bottom: 4px;
  padding-left: 19px;
  border-radius: 25px;
  border-width: 2px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  gap: 4px;
  margin-left: -19px;
}

.filtres2 {
  gap: 15px;
  width: 0px;
}

.button-filtres3{
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.button-filtres4{
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  gap: 4px;
}

.info-resultats {
  width: 1200px;}

.hebergements-et-populaires{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
  opacity: 1;
  gap: 40px;
  }

  
.populaires-hebergements {
  flex: 1;
  order: 2;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 252px;
  opacity: 1;
  gap: 30px;
  border-radius: 15px;
  padding: 26px;
  margin-left: 16px;
  background: #F2F2F2;
}

.populaires-title{
width: 100%;
}

.card{
  width:100%;
  height: 146px;
  opacity: 1;
  border-radius: 20px;
}

.imgnospepites {
  width: 100%;
  height: 136px;
  opacity: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 5px;
}

.card-content {
  width: 100%;
  height: 136px;
  opacity: 1;
  gap: 24px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.card-txt {
  width: 100%;
  height: 85px;
  opacity: 1;
  gap: 5px;
}

.card-title {
  width:100%;
  height: 38px;
  opacity: 1;
  font-size: 14px;
}

.populaires-cards{
  width: 100%;
  display: flex;
  flex-direction: initial;
}

.Hébergements{
  width: 100%;
  height: 611px;
  opacity: 1;
  border-radius: 15px;
  padding: 15px; 
  margin-top: 33px;
  background: #F2F2F2
}

h2.section-title-1{
margin-left: -6px;
width: 100%;
}

.cardhebergements-rating {
  margin-top: -4px;
}

.section-title {
  width: 811px;
  height: 26px;
  opacity: 1;
  margin-left: 12px;
}

.fa-solid.fa-chart-line{
margin-left: 38px;
}

.cardhebergements-title{
  color: #000000;
}

.HébergementsMarseille {
  opacity: 1;
  width: 100%;
  gap: 0px;
}

.hotel {
  display: flex;
  width: 29%;
  height: 207.25px;
  opacity: 1;
  gap: 38px;
  flex-direction: initial;
  padding: 21px;
  padding-top: 5px;
}

.card-Hebergements{
  width: 100%;
  height: 207.25px;
  opacity: 1;
  gap: 4px;
  padding-bottom: 15px;
  border-radius: 20px;
  display: flex;
  color: white;
  background: #FFFFFF;
}

.card-subtitle {
  width: 100%;
}

.cardhebergements-txt{
  display: initial
}

.img-hebergement {
  width: 96%;
  height: 124px;
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-width: 5px;
}

.cardhebergements-content {
  width: 100%;
  height: 64.25px;
  opacity: 1;
  gap: 8px;
  padding-right: 15px;
  padding-left: 15px;
}

.grille {
  display: flex;
  width: 29%;
  height: 207.25px;
  opacity: 1;
  gap: 40px;
  flex-direction:initial;
  margin-top: 5px;
  padding: 20px;
}

.afficher-plus {
  width: 100px;
  margin-top: 25px;
  margin-left: 17px;
}


.populaires{ 
  flex:2;
  width: 100%;
  height: auto;
}

a {
  width: 100%;
}


.Activites{
  width: 100%;
  height: 390px;
  opacity: 1;
  gap: 30px;   
}
  
.Activites-cards {
  width: 91%;
  height: 270px;
  opacity: 1;
  gap: 30px;
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}

.img-activites {
  width: 100%;
  height: 200px;
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-text {
  width: 100%;
}

.meilleursactivites {
  width: 100%;
  height: 270px;
  opacity: 1;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001A;
}


.footer-container {
  width: 100%;
  height: 163px;
  opacity: 1;
  margin: 0;
  flex-direction: initial;
  gap: 0px;
}

.footer-titre1{
  width: 263.6666564941406px;
  height: 123px;
  opacity: 1;
}

.titre-Activites{
  padding-left: 12px;
  padding-right: 50px;
  width: 100%;
  height: 30.018735885620117px;
  opacity: 1;
  margin: initial;
  margin-left: 12px;
}

.card-activitestitle {
  width: 88%;
  height: 19px;
  opacity: 1;
}

}

/* ============================= */
/* DESKTOP */
/* ============================= */
@media screen and (min-width: 1025px) and (max-width: 1444px)
 {
    
body {
  opacity: 1;
  margin: 0 auto;
  width: 100%;
  height: 1831.018798828125px;
  opacity: 1;
  gap: 30px;
  display: flex;
  padding: 0;
  }


.container{
  width: 100%;
  height: 1722.018798828125px;
  opacity: 1;
  gap: 35px;
  padding-right: 35px;
  padding-left: 36px;
  display: grid;
  }

header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 79px;
  margin:0;
  }

h1{
  width: 100%;
}

p{
  width: 100%;
}
    
.logo-container{
  width: 161.08966064453125px;
  opacity: 1;
  gap: 10px;
  padding:1px
  }

.bar-recherche {
  width: 396px;
  height: 49px;
  opacity: 1;
  gap: 24px;
  border-width: 1px;
  border-radius: 15px
}

.btn-recherche {
  width: 132px;
  height: 49px;
  opacity: 1;
  gap: 10px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 0 15px 15px 0;
  top: 0;
  border: 0;
  box-shadow: none;
}

.bar-de-recherche{
  width: 100px;
  height: 21px;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  display: flex;
  color: #FFF;

}

.bouton-de-recherche {
  display: inline;
  opacity: 1;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: white;
}


.fa-solid.fa-magnifying-glass {
  display: none;
}


main{
  width: 100%;
  height: 1722.018798828125px;
  opacity: 1;
  gap: 35px;   
}   

nav{
  height: 80px;
  display: flex;
  align-items: center;
}

.recherche {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 35px;
  padding: 2px;
}

a{
  width: 100%;
}

.titres {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 59px;
  margin:0;
}

.section-recherche {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.recherche_input {
  flex: 1;
  max-width: 300px;
}

.filtres {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-end;
}
    
.filtres-container{
  gap: 15px;
}
.button-filtres1{
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
  gap: 5px;
  padding-left: 14px;
  }
.fa-solid.fa-money-bill-wave{
  margin-right: 3px;
}

.button-filtres2{
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
}

.fa-solid.fa-person{
  font-size: x-large;
  margin-top: -6px;
}

.filtres2 {
  gap: 15px;
}

.button-filtres3{
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
}

.fa-solid.fa-heart{
  margin-left: -7px;
  margin-top: 4px;
}

.button-filtres4{
  width: auto;
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
  gap:0px
}

.Nos-pepites{
  margin-left: inherit;
  margin-right: 5px;
}

.info-resultats {
  width: 100%;}

.hebergements-et-populaires{
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
  opacity: 1;
  gap: 40px;
  }

  .contenu{
    width: 100%;
  }
  
.populaires-hebergements {
  flex: 1;
  order: 2;
  display: flex;
  gap: inherit;
  flex-direction: column;
  width: 71%;
  height: 614px;
  opacity: 1;
  gap: 30px;
  border-radius: 15px;
  padding: 30px;
  background: #F2F2F2;
}

.Hébergements{
  width: 94%;
  height: 614px;
  opacity: 1;
  gap: 30px;
  border-radius: 15px;
  padding: 30px; 
  margin: 0;
  background: #F2F2F2
}

h2.section-title-1{
padding-left: 0px;
  padding-right: 50px;
  width: 100%;
  height: 30.018735885620117px;
  opacity: 1;
  margin: initial;
  gap: 15px;
  display: flex;
}

.cardhebergements-rating {
  margin-top: -4px;
  width: 100%;
}
.section-title {
  padding-right: 50px;
  width: 100%;
  height: 30.018735885620117px;
  opacity: 1;
  margin: initial;
  gap: 15px;
  display: flex;
  position: relative;
  left: -10px;

}
.imgnospepites {
  width: 100%;
}
.card-title{
  width: 100%;
}


.cardhebergements-title{
  color: #000000;
  width: 93%;
}

.cardhebergements-subtitle {
  width: 100%;
  font-size: 15px;
}

.HébergementsMarseille {
  opacity: 1;
  width: 100%;
  gap: 30px;
}

.hotel {
  display: flex;
  width: 100%;
  height: 207.25px;
  opacity: 1;
  gap: 19px;
  flex-direction: initial;
}

.card-subtitle {
width: 100%;
}

.card-Hebergements{
  width: 100%;
  height: 207.25px;
  opacity: 1;
  gap: 4px;
  padding-bottom: 15px;
  border-radius: 20px;
  display: flex;
  color: white;
  background: #FFFFFF;
}

.cardhebergements-txt{
  width: 100%;
  display: initial
}
 .card-Hebergements {
    color: transparent;
 }


.img-hebergement {
  width: 94%;
  height: 124px;
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-width: 5px;
}

.cardhebergements-content {
  width: 100%;
  height: 64.25px;
  opacity: 1;
  gap: 8px;
  padding-right: 15px;
  padding-left: 15px;
}

.grille {
  display: flex;
  width: 100%;
  height: 207.25px;
  opacity: 1;
  gap: 12px;
  flex-direction:initial;
  margin-top: 20px;
}

.afficher-plus {
  width: 100%;
  margin-top: 45px;
}


.populaires{ 
  flex:2;
  width: 100%;
}


.Activites{
  width:100%;
  height: 559.0187377929688px;
  opacity: 1;
  gap: 30px;   
}
  
.Activites-cards {
  width: 92%;
  height: 559.0187377929688px;
  opacity: 1;
  gap: 30px;
  padding: 25px;
  display: flex;
  flex-direction: row;
}

.img-activites {
  width: 100%;
  height: 380px;
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.meilleursactivites {
  width: 46%;
  height: 439px;
  opacity: 1;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001A;
}
.card-activitestitle{
  width: 94%;
  font-size: 15px;
}

.activites-text{
width: 100%;
}

.footer-container {
  width: 97%;
  height: 163px;
  opacity: 1;
  margin: 0;
  flex-direction: initial;
  padding: 20px;
}

.footer-titre1{
  width: 100%;
  height: 123px;
  opacity: 1;
}
.footer-titre2{
  width: 100%;
}

.footer-titre3{
  width: 100%;
}

.titre-Activites{
  padding-left: 12px;
  padding-right: 50px;
  width: 100%;
  height: 30.018735885620117px;
  opacity: 1;
  margin: initial;
}

}
